@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('/fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
    url('/fonts/Merriweather/Merriweather-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
    url('/fonts/Golos_Text/Golos-Text_Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
    url('/fonts/Golos_Text/Golos-Text_Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
    url('/fonts/Golos_Text/Golos-Text_DemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
    url('/fonts/Golos_Text/Golos-Text_Bold.ttf') format('ttf');
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* end reset style */

.container {
  width: 1222px;
  margin: 0 auto;
}

.main {
  max-width: 1920px;
  min-width: 1366px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  min-height: 700px;
  background-image: url("/img/granit.png");
  background-color: #E9DED4;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;
  background-blend-mode: overlay;
  margin-bottom: 80px;
}

.header-image {
  width: 100%;
  height: 100%;
}

.header-image img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}


.header-block {
  position: absolute;
  top: 26px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.header-inner {
  width: 542px;
}

.logo {
  width: 245.17px;
  height: 36px;
  padding-bottom: 62px;
}

.header-title {
  display: flex;
  flex-direction: column;

  padding-bottom: 24px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #313131;
}

.text-center {
  align-self: center;
}

.text-end {
  align-self: end;
}

.header-title-subject {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #313131;

  padding-bottom: 40px;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 263px;
  height: 72px;
  border-radius: 66px;
  padding: 20px;

  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  font-feature-settings: 'pnum' on,
    'lnum' on;
}

.btn-black {
  background: #1F1F1F;
  border: 2px solid #1F1F1F;
  color: #FFFFFF;

}

.btn-black:hover {
  border: 2px solid #FBCE51;
  background: #FBCE51;
  color: #1F1F1F;
}

.btn-transparent {
  border: 2px solid #1F1F1F;
  color: #1F1F1F;
  background: transparent;
}

.btn-transparent:hover {
  background: #1F1F1F;
  color: #FFFFFF;
}

/* run text */
.tickers-inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #F54932;
  display: flex;
}

.ticker__head {
  padding: 18px 12px;
}

/* .ticker__head:nth-child(even) {
	padding: 18px 0;
} */

.ticker__head:last-child {
  padding-right: 12px;
}

.ticker {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
  text-indent: 0;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #FFFFFF;

  animation: startLine 10s linear infinite;
}

@keyframes startLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* end run text */

/* section attend-the-lecture */
.attend-the-lecture {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 64px;
}

.attend-the-lecture_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attend-the-lecture_text {
  max-width: 764px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #313131;
}

.attend-the-lecture_text span {
  color: #F54932;
}

/* end section attend-the-lecture  */

/* section session */
.session {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 200px;
}

.session-inner {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.session-img {
  position: absolute;
  left: -27px;
  bottom: 0;
  max-width: 529px;
}

.session-img img {
  height: 100%;
  width: 100%;
}

.session-block {
  width: 704px;
  height: 527px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.session-text {
  max-width: 620px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 135%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #313131;
}

.session-text span {
  color: #F54932;
}

.session-table_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 2px solid #D0D0D0;
}

.session-table_row:last-child {
  border-bottom: none;
}

.session-table_th {
  width: 306px;
  padding: 16px 16px 16px 0;
  border-right: 2px solid #D0D0D0;

  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #313131;

  opacity: 0.7;
}

.session-table_td {
  width: 398px;
  padding: 16px;

  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #313131;
}

.session-table_first {
  padding-top: 0px;
}

.session-table_last {
  padding-bottom: 0px;
}

.session-link {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #3057A2;
}

.session del {
  text-decoration: line-through;
  text-decoration-color: red;
}

/* end section session */
/* section stages */
.stages {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 200px;
}

.stages-inner-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  width: 806px;
  height: 130px;
  margin-bottom: 54px;
}

.stages-title {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #313131;
}

.stages-subtitle {
  width: 280px;

  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: none;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #3057A2;
}

.stages-blocks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;

}

.stages-blocks_airplane {
  position: absolute;
  right: -62px;
  top: 168px;

  width: 400.36px;
}

.stages-blocks_airplane img {
  height: 100%;
  width: 100%;
}

.item-1 {
  width: 394px;
  height: 112px;
}

.item-2 {
  width: 394px;
  height: 112px;
}

.item-3 {
  grid-row: span 2;
  width: 394px;
  height: 244px;
}

.item-4 {
  width: 394px;
  height: 112px;
}

.item-5 {
  width: 394px;
  height: 112px;
}

.item-6 {
  width: 394px;
  height: 136px;
}

.item-7 {
  grid-column: span 2;
  width: 808px;
  height: 136px;
}

.item-7 .text {
  width: 446px;
}

.number {
  padding: 20px 16px 20px 20px;
}

.number img {
  height: 36px;
  width: 36px;
}

.text {
  padding: 20px 20px 20px 0;

  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #313131;
}

.blocks-item {
  display: flex;

  background-image: url("../img/background-blocks.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

/* end section stages */

/* section participants */
.participants-inner {
  margin-bottom: 60px;
}

.participants-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.participants-title {
  width: 806px;
  height: 65px;

  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 120%;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #313131;
}

.participants-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 151px;
  height: 44px;
}

.pages {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #313131;
}

.participants-slider {
  display: flex;
  align-items: flex-start;
}

.slider-page {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}


.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-width: 394px;
  height: 462px;

}

.slider-foto {
  width: 320px;
  height: 320px;
  margin-bottom: 28px;
}

.slider-foto img {
  width: 100%;
  height: 100%;
}

.slider-name {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #313131;
}

.slider-rank {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #313131;
  opacity: 0.6;

  margin-bottom: 20px;
}

.slider-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  width: 113px;
  height: 35px;

  border: 1px solid #3057A2;
  border-radius: 62px;
  background-color: transparent;

  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #3057A2;
}

/* end section participants */



/* footer */
.tickers-inner-footer {
  background: #F54932;
  display: flex;
  overflow: hidden;
}

.footer {
  height: 150px;
  background-color: #E9DED4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  font-feature-settings: 'pnum' on,
    'lnum' on;

  color: #313131;

  opacity: 0.6;
}

/* end footer */