/* main */

position: absolute;
width: 1366px;
height: 700px;
left: calc(50% - 1366px/2);
top: 0px;

background: #E9DED4;


/* Group 12 */

position: absolute;
width: 1920px;
height: 881px;
left: -278px;
top: -122px;



/* Ellipse 6 */

position: absolute;
width: 660px;
height: 660px;
left: 673px;
top: -44px;

background: #FBCE51;


/* Group */

position: absolute;
left: 57.02%;
right: -3.43%;
top: -14.61%;
bottom: 24.03%;

mix-blend-mode: overlay;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 83.02%;
right: 15.55%;
top: 78.79%;
bottom: 18.39%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 82.31%;
right: 16.67%;
top: 80.04%;
bottom: 17.89%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 81.16%;
right: 17.7%;
top: 80.78%;
bottom: 16.92%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 80.11%;
right: 18.86%;
top: 81.21%;
bottom: 16.5%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 79.31%;
right: 19.72%;
top: 82.22%;
bottom: 15.65%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 78.1%;
right: 20.4%;
top: 82.19%;
bottom: 15.06%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 76.88%;
right: 21.89%;
top: 82.98%;
bottom: 14.53%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 76.06%;
right: 23.02%;
top: 83.55%;
bottom: 14.39%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 75.09%;
right: 23.88%;
top: 83.57%;
bottom: 14.19%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 73.6%;
right: 25.18%;
top: 83.64%;
bottom: 13.93%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 72.69%;
right: 26.4%;
top: 83.92%;
bottom: 14.02%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 71.6%;
right: 27.41%;
top: 83.66%;
bottom: 14.05%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 70.73%;
right: 28.36%;
top: 83.58%;
bottom: 14.23%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 69.83%;
right: 29.26%;
top: 83.46%;
bottom: 14.43%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 68.85%;
right: 30.24%;
top: 83.09%;
bottom: 14.83%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 67.92%;
right: 31.19%;
top: 82.76%;
bottom: 15.23%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 66.75%;
right: 32.45%;
top: 82.14%;
bottom: 15.82%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 65.64%;
right: 33.28%;
top: 81.41%;
bottom: 16.48%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 64.81%;
right: 34.36%;
top: 80.84%;
bottom: 17.08%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 63.79%;
right: 35.09%;
top: 79.95%;
bottom: 17.8%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 63.01%;
right: 36.02%;
top: 79.11%;
bottom: 18.71%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 61.99%;
right: 36.89%;
top: 78.11%;
bottom: 19.59%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 60.74%;
right: 37.73%;
top: 76.64%;
bottom: 20.72%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 59.5%;
right: 39.2%;
top: 74.94%;
bottom: 22.5%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 59.03%;
right: 40.03%;
top: 73.84%;
bottom: 23.87%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 57.46%;
right: 40.95%;
top: 71.54%;
bottom: 25.57%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 57.02%;
right: 41.96%;
top: 70.27%;
bottom: 27.44%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 56.14%;
right: 42.74%;
top: 69.26%;
bottom: 28.59%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 55.52%;
right: 43.43%;
top: 67.68%;
bottom: 30.26%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 54.04%;
right: 44.53%;
top: 63.68%;
bottom: 33.51%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 53.65%;
right: 45.3%;
top: 62.58%;
bottom: 35.39%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 53.02%;
right: 45.8%;
top: 60.42%;
bottom: 37.3%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 52.72%;
right: 46.14%;
top: 58.48%;
bottom: 39.38%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 52.14%;
right: 46.77%;
top: 56.98%;
bottom: 41.05%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.68%;
right: 46.86%;
top: 54.6%;
bottom: 42.45%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.27%;
right: 47.4%;
top: 52.32%;
bottom: 45.18%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.09%;
right: 47.86%;
top: 50.93%;
bottom: 47.22%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.86%;
right: 47.97%;
top: 49%;
bottom: 48.86%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.53%;
right: 48.13%;
top: 46.05%;
bottom: 51.39%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.47%;
right: 48.48%;
top: 44.46%;
bottom: 53.74%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.32%;
right: 48.43%;
top: 42.17%;
bottom: 55.72%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.3%;
right: 48.54%;
top: 40.52%;
bottom: 57.49%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.27%;
right: 48.59%;
top: 38.9%;
bottom: 59.28%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.36%;
right: 48.47%;
top: 36.8%;
bottom: 61.38%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.41%;
right: 48.48%;
top: 35.11%;
bottom: 63.1%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.63%;
right: 48.32%;
top: 32.69%;
bottom: 65.7%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 50.84%;
right: 48.09%;
top: 30.47%;
bottom: 67.46%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.04%;
right: 47.93%;
top: 28.93%;
bottom: 69.65%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.33%;
right: 47.63%;
top: 26.83%;
bottom: 71.18%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.64%;
right: 47.29%;
top: 24.98%;
bottom: 73.09%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 51.99%;
right: 46.92%;
top: 23.06%;
bottom: 74.93%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 52.46%;
right: 46.32%;
top: 20.42%;
bottom: 76.74%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 53.17%;
right: 45.6%;
top: 17.81%;
bottom: 79.83%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 53.73%;
right: 45.12%;
top: 16.59%;
bottom: 81.54%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 54.5%;
right: 44.1%;
top: 13.35%;
bottom: 83.65%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 55.26%;
right: 43.58%;
top: 12.5%;
bottom: 85.69%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 55.79%;
right: 43.1%;
top: 10.59%;
bottom: 87.32%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 56.56%;
right: 42.37%;
top: 9.25%;
bottom: 88.78%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 57.84%;
right: 40.76%;
top: 6.14%;
bottom: 91.11%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 58.64%;
right: 40.27%;
top: 5.36%;
bottom: 92.67%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 59.55%;
right: 39.26%;
top: 3.82%;
bottom: 93.96%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 60.51%;
right: 38.34%;
top: 3.05%;
bottom: 94.8%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 61.34%;
right: 37.62%;
top: 1.66%;
bottom: 96.24%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 62.02%;
right: 36.48%;
top: 0.16%;
bottom: 96.9%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 63.32%;
right: 35.36%;
top: -0.8%;
bottom: 98.2%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 64.32%;
right: 34.72%;
top: -1.21%;
bottom: 99.18%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 65.1%;
right: 33.76%;
top: -2%;
bottom: 99.71%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 66.37%;
right: 32.27%;
top: -3.15%;
bottom: 100.5%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 67.54%;
right: 31.52%;
top: -3.32%;
bottom: 101.26%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 68.49%;
right: 30.34%;
top: -4.01%;
bottom: 101.46%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 69.4%;
right: 29.48%;
top: -4.28%;
bottom: 101.91%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 70.3%;
right: 28.68%;
top: -4.59%;
bottom: 102.27%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 71.4%;
right: 27.59%;
top: -4.67%;
bottom: 102.22%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 72.24%;
right: 26.8%;
top: -4.84%;
bottom: 102.55%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 73.64%;
right: 25.49%;
top: -4.67%;
bottom: 102.6%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 74.49%;
right: 24.3%;
top: -4.76%;
bottom: 102.45%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 75.63%;
right: 23.59%;
top: -4.44%;
bottom: 102.26%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 76.49%;
right: 22.42%;
top: -4.26%;
bottom: 102.1%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 77.59%;
right: 21.42%;
top: -3.76%;
bottom: 101.71%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 78.55%;
right: 20.51%;
top: -3.35%;
bottom: 101.32%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 79.54%;
right: 19.12%;
top: -2.83%;
bottom: 100.76%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 81.22%;
right: 17.69%;
top: -1.78%;
bottom: 99.61%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 82.16%;
right: 16.86%;
top: -0.95%;
bottom: 98.8%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 83.35%;
right: 15.21%;
top: 0.02%;
bottom: 97.5%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 84.5%;
right: 14.55%;
top: 1.41%;
bottom: 96.37%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 85.38%;
right: 13.61%;
top: 2.23%;
bottom: 95.62%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 86.19%;
right: 12.86%;
top: 3.49%;
bottom: 94.45%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 87.34%;
right: 11.3%;
top: 5%;
bottom: 92.37%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 88.24%;
right: 10.81%;
top: 6.54%;
bottom: 91.34%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 89.06%;
right: 9.86%;
top: 8.03%;
bottom: 89.68%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 89.6%;
right: 9.38%;
top: 9.63%;
bottom: 88.09%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 90.43%;
right: 8.52%;
top: 11.11%;
bottom: 86.82%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 90.88%;
right: 7.58%;
top: 12.09%;
bottom: 85.06%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 91.76%;
right: 6.93%;
top: 14.47%;
bottom: 82.93%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 92.38%;
right: 6.6%;
top: 16.46%;
bottom: 81.62%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 92.78%;
right: 6.05%;
top: 17.73%;
bottom: 79.98%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 93.38%;
right: 5.23%;
top: 19.96%;
bottom: 77.33%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 93.92%;
right: 5.05%;
top: 22.32%;
bottom: 75.81%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.17%;
right: 4.48%;
top: 23.87%;
bottom: 73.72%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.53%;
right: 4.23%;
top: 25.63%;
bottom: 72.07%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.88%;
right: 3.9%;
top: 27.35%;
bottom: 70.47%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.98%;
right: 3.7%;
top: 29.43%;
bottom: 68.46%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.32%;
right: 3.47%;
top: 31.06%;
bottom: 66.87%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.54%;
right: 3.37%;
top: 33.86%;
bottom: 64.32%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.57%;
right: 3.13%;
top: 35.36%;
bottom: 62.09%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.65%;
right: 3.16%;
top: 37.59%;
bottom: 60.8%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.67%;
right: 3.09%;
top: 39.26%;
bottom: 58.35%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.63%;
right: 3.25%;
top: 41.73%;
bottom: 56.36%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.59%;
right: 3.25%;
top: 43.62%;
bottom: 54.5%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.52%;
right: 3.32%;
top: 45.47%;
bottom: 51.78%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 95.24%;
right: 3.72%;
top: 48.99%;
bottom: 48.97%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.98%;
right: 3.98%;
top: 51.05%;
bottom: 47.05%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.6%;
right: 4.32%;
top: 53.4%;
bottom: 43.98%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 94.14%;
right: 4.79%;
top: 55.84%;
bottom: 42.24%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 93.8%;
right: 5.13%;
top: 57.71%;
bottom: 40.55%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 93.37%;
right: 5.58%;
top: 59.36%;
bottom: 38.91%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 92.55%;
right: 6.21%;
top: 61.83%;
bottom: 35.75%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 92.08%;
right: 6.86%;
top: 63.85%;
bottom: 34.47%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 91.41%;
right: 7.45%;
top: 65.64%;
bottom: 32.4%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 90.72%;
right: 8.11%;
top: 66.87%;
bottom: 31.32%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 90.15%;
right: 8.79%;
top: 68.72%;
bottom: 29.35%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 89.4%;
right: 9.22%;
top: 69.64%;
bottom: 27.35%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 88.41%;
right: 10.27%;
top: 71.71%;
bottom: 25.79%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 87.81%;
right: 11.18%;
top: 73.34%;
bottom: 24.71%;

background: #313131;
transform: rotate(15deg);


/* Vector */

position: absolute;
left: 87.06%;
right: 11.75%;
top: 74.28%;
bottom: 23.54%;

background: #313131;
transform: rotate(15deg);


/* Ellipse 7 */

position: absolute;
width: 4px;
height: 4px;
left: 784.2px;
top: 62.15px;

background: #313131;
mix-blend-mode: overlay;


/* Ellipse 8 */

position: absolute;
width: 4px;
height: 4px;
left: 1188.69px;
top: 36.52px;

background: #313131;
mix-blend-mode: overlay;


/* chess */

position: absolute;
width: 113.16px;
height: 252.44px;
left: 1094.79px;
top: 165.29px;

transform: rotate(7.59deg);


/* Vector 5 */

position: absolute;
width: 113.16px;
height: 252.44px;
left: 1094.79px;
top: 165.29px;

background: #D9D9D9;
border: 0.262013px solid #000000;
filter: blur(0.131006px);
transform: rotate(7.59deg);


/* white-chess-pieces-on-chess-board 6 */

position: absolute;
width: 1073.2px;
height: 715.56px;
left: 454.88px;
top: -263.88px;

background: url(white-chess-pieces-on-chess-board.jpg);
transform: rotate(7.59deg);


/* Mask group */

position: absolute;
width: 103.78px;
height: 255.89px;
left: 729.18px;
top: 281.19px;

transform: rotate(-5.99deg);


/* Vector 6 */

position: absolute;
width: 103.78px;
height: 255.89px;
left: 729.18px;
top: 281.19px;

background: #D9D9D9;
transform: rotate(-5.99deg);


/* white-chess-pieces-on-chess-board 6 */

position: absolute;
width: 981.76px;
height: 654.59px;
left: -68.12px;
top: 76.92px;

background: url(white-chess-pieces-on-chess-board.jpg);
transform: rotate(-5.99deg);


/* city */

position: absolute;
width: 1623.5px;
height: 452.5px;
left: -116.5px;
top: 270px;



/* Vector 4 */

position: absolute;
width: 1623.5px;
height: 452.5px;
left: 1507px;
top: 270px;

background: #D9D9D9;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* image 7 */

position: absolute;
width: 1265.33px;
height: 669.72px;
left: 1437.76px;
top: 60.65px;

background: url(beautiful-old-city-view.jpg);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* image 24 */

position: absolute;
width: 326.01px;
height: 557px;
left: 1241px;
top: 634px;

background: url(empty-room-gray-wall-and-squared-floor.jpg);
mix-blend-mode: color-burn;


/* image 22 */

position: absolute;
width: 1447px;
height: 557px;
left: -178px;
top: 634px;

background: url(empty-room-gray-wall-and-squared-floor.jpg);
mix-blend-mode: color-burn;


/* path */

position: absolute;
width: 1603.71px;
height: 463.82px;
left: -120px;
top: 259px;



/* Vector 3 (Stroke) */

position: absolute;
width: 1603.71px;
height: 463.82px;
left: 1483.71px;
top: 259px;

background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Cooper Union Stamp Paper */

position: absolute;
width: 1322px;
height: 1776px;
left: 1600.5px;
top: -309.68px;

background: url(Cooper Union Stamp Paper.png);
transform: rotate(90deg);


/* image 23 */

position: absolute;
width: 1920px;
height: 881px;
left: -278px;
top: -122px;

background: url(empty-room-gray-wall-and-squared-floor.jpg);
mix-blend-mode: color-burn;


/* Mask group */

position: absolute;
width: 153.87px;
height: 243.99px;
left: 835.64px;
top: 510.85px;

transform: rotate(-10.59deg);


/* Vector 7 */

position: absolute;
width: 153.87px;
height: 243.99px;
left: 835.64px;
top: 510.85px;

background: #D9D9D9;
filter: blur(0.356726px);
transform: rotate(-10.59deg);


/* white-chess-pieces-on-chess-board 8 */

position: absolute;
width: 1461.15px;
height: 974.22px;
left: 213.34px;
top: 58.16px;

background: url(white-chess-pieces-on-chess-board.jpg);
transform: rotate(-10.59deg);


/* content */

position: absolute;
width: 542px;
height: 444px;
left: 72px;
top: 124px;



/* headline */

position: absolute;
width: 542px;
height: 264px;
left: 0px;
top: 0px;



/* Превратите уездный город */

position: absolute;
width: 542px;
height: 132px;
left: 0px;
top: 0px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 110%;
/* or 66px */
text-transform: uppercase;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #313131;



/* в столицу */

position: absolute;
width: 360px;
height: 66px;
left: 91px;
top: 132px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 110%;
/* identical to box height, or 66px */
text-align: right;
text-transform: uppercase;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #313131;



/* земного шара */

position: absolute;
width: 542px;
height: 66px;
left: 0px;
top: 198px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 110%;
/* identical to box height, or 66px */
text-align: right;
text-transform: uppercase;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #313131;



/* btns */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

position: absolute;
width: 542px;
height: 72px;
left: 0px;
top: 374px;



/* Frame 48095569 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;

width: 263px;
height: 72px;

background: #1F1F1F;
border-radius: 66px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Label */

width: 165px;
height: 32px;

font-family: 'Golos Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* or 21px */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 48095570 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;

width: 263px;
height: 72px;

border: 2px solid #1F1F1F;
border-radius: 66px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Label */

width: 165px;
height: 32px;

font-family: 'Golos Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* or 21px */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
text-align: center;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #1F1F1F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам */

position: absolute;
width: 542px;
height: 46px;
left: 0px;
top: 288px;

font-family: 'Golos Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
/* or 23px */
text-align: center;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #313131;



/* Mask group */

position: absolute;
width: 82.61px;
height: 122.22px;
left: 1238.83px;
top: 558.2px;



/* Ellipse 12 */

box-sizing: border-box;

position: absolute;
width: 82.61px;
height: 122.22px;
left: 1238.83px;
top: 558.2px;

background: #D9D9D9;


/* white-chess-pieces-on-chess-board 9 */

position: absolute;
width: 945.19px;
height: 630.2px;
left: 1135.02px;
top: 158.95px;

background: url(white-chess-pieces-on-chess-board.jpg);


/* logo */

position: absolute;
width: 245.17px;
height: 36px;
left: 72px;
top: 26px;



/* Vector */

position: absolute;
left: 5.27%;
right: 93.14%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Vector */

position: absolute;
left: 6.98%;
right: 91.43%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Vector */

position: absolute;
left: 8.7%;
right: 89.72%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Vector */

position: absolute;
left: 10.41%;
right: 88.01%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Клубчетырех коней */

position: absolute;
width: 147px;
height: 36px;
left: 170.17px;
top: 26px;

font-family: 'Golos Text';
font-style: normal;
font-weight: 700;
font-size: 16.6513px;
line-height: 108%;
/* or 18px */
text-transform: uppercase;
font-feature-settings: 'pnum' on,
'lnum' on;

color: #595653;